@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--text-color);
}

button {
    cursor: pointer;
}

img {
    object-fit: cover;
}

.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.black-btn {
    border-radius: 5px;
    background-color: var(--black-color);
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.05);
    }
}

.section__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 133%;
    text-transform: capitalize;
    color: var(--black-color);
}

.item__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 133%;
    text-transform: capitalize;
    color: var(--black-color);
    margin-bottom: 6px;
}
