@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: capitalize;
    color: var(--text-color);
}

.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.black-btn {
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--black-color);
}

.section__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 133%;
    text-transform: capitalize;
    color: var(--black-color);
}

.item__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 133%;
    text-transform: capitalize;
    color: var(--black-color);
}

p {
    
    font-family: var(--second-font);
}