.clients {
    padding-top: 50px;
    margin-bottom: 90px;
    &__title {
        text-align: center;
        margin-bottom: 9px;
    }
    &__text {
        text-align: center;
        margin-bottom: 24px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .clients__item {
            padding: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .clients__item-img {
        }
    }
}

@media (max-width: 700px) {
    .clients {
        &__items {
            grid-template-columns: repeat(3, 1fr);
            .clients__item {
                padding: 20px 0;
            }
        }
    }
}

