.features {
    padding: 90px 0;
    &__title {
        margin-bottom: 27px;
    }

    &__text {
        margin-bottom: 29px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 44px;
        .features__item {
            padding: 50px 47px;
            background-color: rgba(244, 244, 244, 0.93);
            transition: all 0.3s;
            border-radius: 10px;
            box-shadow: inset -3px 3px 0 0 #fff;
            &.active {
                background-color: #fff;
            }
            &:hover {
                transform: scale(1.05);
                background-color: #fff;
            }
            &-icon {
                margin-bottom: 22px;
                .features__item-img {

                }
            }
            

            &-title {
                margin-bottom: 5px;
            }

            &-text {

            }
        }
    }
}

@media (max-width: 1100px) {
    .features {
        &__items {
            gap: 30px;
            .features__item {
                padding: 30px 20px;
            }
        }
    }
}