.footer {
    padding-top: 125px;
    padding-bottom: 32px;
    background-color: var(--black-color);
    color: #fff;
    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
        .social__list {
            display: flex;
            align-items: center;
            gap: 27px;
        }
    }

    &-table {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 57px;
        thead {
            th {
                text-align: left;
                border-top: 1px solid #4a4a4a;
                border-bottom: 1px solid #4a4a4a;
                padding: 17px 0;
            }
        }

        tbody {
            .contacts-item {
                width: 266px;
                border-radius: 20px;
                border: 1px solid #4a4a4a;
                padding: 19px 21px;
            }

            tr {               
                td {
                    padding: 52px 0;
                }
            }

            .news__link {
                display: block;
                position: relative;
                .news__link-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 182px;
                    padding: 14px 0;
                    background: rgba(255, 255, 255, 0.75);
                    text-align: center;
                    color: var(--black-color);
                    font-weight: 600;
                    border-radius: 5px;
                }
            }
        }
       
    }

    &-bottom {
        padding-top: 27px;
        text-align: center;
        border-top: 1px solid #4a4a4a;
    }
}