.footer {
    padding-top: 125px;
    padding-bottom: 32px;
    background-color: var(--black-color);
    color: #fff;
    &-head {
        display: flex;
        justify-content: space-between;
        .social__list {
            display: flex;
            align-items: center;
            gap: 23px;
        }
    }
    &-table {
        padding-top: 17px;
        padding-bottom: 57px;
        width: 100%;
        padding-top: 17px;
        display: grid;
        grid-template-columns: 20% 20% 20% 30%;
            &__item {
                .footer-table__title {
                    padding: 17px 0;
                    border-bottom: 1px solid #4A4A4A;
                    border-top: 1px solid #4A4A4A;
                    margin-bottom: 52px;
                }
            }
            .contacts-item {
                width: 100%;
                border-radius: 20px;
                border: 1px solid #4a4a4a;
                padding: 19px 21px;
            }

           

            .news__link {
                display: block;
                position: relative;
                .news__link-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 182px;
                    padding: 14px 0;
                    background: rgba(255, 255, 255, 0.75);
                    text-align: center;
                    color: var(--black-color);
                    font-weight: 600;
                    border-radius: 5px;
                }
            }
        }

    &-bottom {
        padding-top: 27px;
        text-align: center;
        border-top: 1px solid #4a4a4a;
    }
}

@media (max-width: 850px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 32px;
    }
    
}

@media (max-width: 750px) {
    .footer {
        &-table {
            grid-template-columns: 50% 50%;
            grid-row-gap: 40px;
        }
    }

}

@media (max-width: 500px) {
    .footer {
        &-table {
            &__item {
                &:nth-child(3) {
                    grid-column: 1/3;
                }
            }
        }
    }

}