.how {
    position: relative;
    margin-bottom: 111px;
    &__inner {
        display: flex;
        .how__info {
            width: 44%;
            &-title {
                margin-bottom: 5px;
            }
            &-text {
                width: 95%;
                margin-bottom: 37px;
            }
            .how__items {
                .how__item {
                    display: flex;
                    gap: 23px;
                    margin-bottom: 17px;
                    border-radius: 30px;
                    padding: 30px 14px;
                    border: 1px solid var(--gray-color);
                    &-num {
                        font-weight: 600;
                        font-size: 40px;
                        line-height: 133%;
                        text-transform: capitalize;
                        color: var(--blue-color);
                    }
                    &-title {
                        margin-bottom: 9px;
                    }
                    &-text {
                        max-width: 408px;
                    }
                }
                
            }
            
        }
        
        .apps {
            width: 70%;
            border-radius: 30px;
            position: absolute;
            right: -20%;
            top: 0;
            background-color: #f6f6f6;
            padding: 115px 85px 85px 80px;
            background-image: url('../../images/apps/app-bg.svg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            &__info {
                width: 55%;
                .apps__title {
                    margin-bottom: 21px;
                }
                .apps__comment {
                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 160%;
                    color: #3ba3c8;
                    margin-bottom: 22px;
                }
                .apps__text {
                    font-family: var(--second-family);
                    margin-bottom: 48px;
                }
                .apps__items {
                    display: flex;
                    gap: 26px;
                    align-items: center;
                    .apps__img {
                        display: block;
                        max-width: 50%;
                    }
                }
            }
            
            
        }
        
    }
}

@media (max-width: 1200px) {
    .how {
        &__inner {
            
            .apps {
                padding: 70px 30px 55px 30px;
                &__info {
                    width: 60%;
                    .apps__title {
                        font-size: 30px;
                    }
                }
                
                
            }
            
        }
    }
}

@media (max-width: 900px) {
    .how {
        &__inner {
            flex-direction: column;
            .how__info {
                width: 100%;
                &-title {
                    text-align: center;
                }
                &-text {
                    text-align: center;
                }
                .how__items {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .apps {
                width: 90%;
                margin: 0 auto;
                position: static;
                background-position: right bottom;
                &__info {
                    width: 100%;
                    .apps__title {
                        font-size: 30px;
                        
                    }
                }
                
                
            }
            
        }
    }
}

@media (max-width: 600px) {
    .how {
        &__inner {          
            .apps {
                width: 100%;
            }
            
        }
    }
}
