.prices {
    margin-bottom: 100px;
    &__title {
        margin-bottom: 14px;
        text-align: center;
    }

    &__text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 36px;
        max-width: 60%;
    }

    &__items {
        margin: 0 auto;
        display: flex;
        .prices-item {
            width: 50%;
            padding: 118px 31px 0 96px;
            background-color: #4FFFDF;
            background-size: 30%;
            border-radius: 30px 0 0 30px;
            &__title {
                margin-left: 64px;
                margin-bottom: 8px;
                position: relative;
                padding-left: 66px;
                font-size: 35px;
                line-height: 133%;
                color: var(--black-color);
                font-weight: 400;
                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 57px;
                    height: 57px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--black-color);
                    background-image: url('../../images/prices/item1.svg');
                }
                

            }

            &:nth-child(2) {
                background-color: #49DEFF;
                border-radius: 0 30px 30px 0;
                padding: 118px 96px 0 31px;
                .prices-item__title::before {
                    background-color: #fff;
                    background-image: url('../../images/prices/item2.svg');
                }
            }

            &__info {
                background-color: #fff;
                box-shadow: 0 28px 57px 0 rgba(190, 190, 190, 0.25);
                border-radius: 30px;
                padding: 63px 62px;
                &-price {
                    margin-bottom: 23px;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 133%;
                    text-transform: capitalize;
                    color: var(--black-color);
                }

                &-text {
                    color: var(--black-color);
                    padding-bottom: 33px;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 21px;
                }

                .prices-item__list {
                    margin-bottom: 33px;
                    &-item {
                        margin-bottom: 4px;
                        position: relative;
                        padding-left: 30px;
                        font-family: var(--second-family);
                        line-height: 219%;
                        &::before {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 13px;
                            height: 11px;
                            background-image: url('../../images/prices/check.svg');
                            background-repeat: no-repeat;
                            background-position: center;


                        }
                    }
                }

                .prices-item__button {
                    width: 100%;
                    background-color: #eaeaea;
                    color: var(--black-color);
                    padding: 26px 0;
                    &.active {
                        background-color: var(--black-color);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .prices {
        &__items {
            max-width: 90%;
            .prices-item {
                padding: 60px 31px 0 56px;
                &:nth-child(2) {
                    padding: 60px 56px 0 31px;
                }

                &__title {
                    margin-left: 15px;
                }

                &__info {
                    padding: 40px 30px;
                    &-price {
                        font-size: 45px;
                    }
    
                    &-text {
                        padding-bottom: 25px;
                    }
    
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .prices {
        &__items {
            max-width: 95%;
            .prices-item {
                padding: 60px 25px 0 30px;
                &:nth-child(2) {
                    padding: 60px 30px 0 25px;
                }

                &__title {
                    font-size: 32px;
                   padding-left: 46px;
                    &::before {
                        width: 40px;
                        height: 40px;
                    }
                }

                &__info {
                    padding: 30px 25px;
                    &-price {
                        font-size: 35px;
                    }
    
                }

                .prices-item__button {
                    padding: 15px 0;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .prices {
        &__items {
            max-width: 100%;
            flex-direction: column;
            gap: 30px;
            .prices-item {
                padding: 35px 20px;
                width: 100%;
                border-radius: 30px;
                &:nth-child(2) {
                    padding: 35px 20px;
                    border-radius: 30px;
                }

                &__info {
                    &-price {
                        margin-bottom: 10px;
                        font-size: 25px;
                        line-height: 32px;
                    }
                  
                }

            }
        }
    }
}